@page
<div class="container">
    <h1>Initialize database</h1>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Ping" />
        </div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/load_examples.js"></script>